* {
  box-sizing: content-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #0096ff;
  box-shadow: inset 0px 0px 120px black;
}

#quote-box {
  display: inline-block;
  position: absolute;
  height: auto;
  width: 500px;
  border-radius: 12px;
  opacity: 95%;
  background-color: #fffff9;
}

.textContainer {
  display: block;
  height: auto;
  min-height: 100px;
  margin: 15px;
  min-width: 40%;
}
.textContainer h1 {
  word-wrap: break-word;
  min-width: 1%;
  margin: 10px;
  color: #0096ff;
}
.textContainer P {
  margin-right: 20px;
  width: 100%;
  float: right;
  color: #0096ff;
  font-style: italic;
  text-align: right;
}
.textContainer svg {
  fill: #0096ff;
}

.newQuote {
  border-radius: 5px;
  border: 0;
  box-shadow: 0px 0px 1px black;
  background-color: #0096ff;
  color: white;
  height: 50px;
  width: 65%;
  font-size: 30px;
  font-family: "arial";
  font-weight: bold;
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 0px;
}

.tweetContainer {
  display: flex;
  margin-right: 4px;
  border-radius: 5px;
  border: 0;
  box-shadow: 0px 0px 1px black;
  background-color: #0096ff;
  color: white;
  height: 50px;
  width: 26%;
  font-size: 25px;
  font-family: "arial";
  font-weight: bold;
  justify-content: center;
  align-items: center;
  float: right;
  margin-right: 15px;
  margin-bottom: 15px;
}
.tweetContainer svg {
  fill: white;
}

.newQuote:hover, .tweetContainer:hover {
  background-color: black;
  opacity: 95%;
  cursor: pointer;
}